[project]
	description = From Git exapmple
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ashwithahn
[access "refs/for/refs/*"]
	read = group user/ashwithahn
	push = group user/ashwithahn
	label-Code-Review = -2..+2 group user/ashwithahn
	label-Verified = -1..+1 group user/ashwithahn
	rebase = group user/ashwithahn
	removeReviewer = group user/ashwithahn
	submit = group user/ashwithahn
[access "refs/heads/*"]
	read = group user/ashwithahn
	create = group user/ashwithahn
	push = +force group user/ashwithahn
	pushMerge = group user/ashwithahn
[access "refs/tags/*"]
	push = group user/ashwithahn
	push = +force group user/ashwithahn
